# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node

### Node ###
# Logs
logs
*.log



.env
.env.local
.env.development.local
.env.test.local
.env.production.local

build


# Dependency directories
node_modules/


